.bg-item1{
    background-image: url('https://images.unsplash.com/photo-1497515098781-e965764ab601?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1308&q=80');
}
.bg-item2{
    background-image: url('https://images.unsplash.com/photo-1499438075715-fc23ef376ab9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1308&q=80');
}
.bg-item3{
    background-image: url('https://images.unsplash.com/photo-1496147011889-39d4a64b76e3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
}
.bg-item4{
    background-image: url('https://images.unsplash.com/photo-1498036471282-05a678a132e8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=80');
}
.h-l{
    height: 640px;
}
.h-xl{
    height: 864px;
}
.h-xxl{
    height: 960px;
}
.btn-xl{
    padding: 4.266% 13.1%;
}
.btn-center{
    top: 50%;
    left: 42.72%;
}
.content-xl{
    width: 450px;
    height: 139px;
}
.content-center{
    top: 75%;
    left: -10%;
}
.card-xl{
    width: 450px;
}
